@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>未来更新...</h1>

<p>下次更新将带来以下功能</p>
<p>1、用户信息修改，包括但不限于头像、密码、名字等</p>
<p>2、公共留言回复功能，用户可以在留言广场回复别人的公开留言，点赞评论等</p>
<p>3、更多自定义功能</p>
<p>4、期待你们留言提一些建议和功能</p>
